.abTitle {
  text-align: center;
  font-size: 300%;
}

.abMeIcon {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.userIcon {
  margin-top: 0.5rem;
}

.icons {
  display: flex;
}

.schoolIcon {
  display: flex;
  flex: 1;
  margin-left: 3rem;
  color: var(--color-third);
}
.collegeName {
  padding-top: 2rem;
  padding-left: 0.5rem;
}

.codeIcon {
  display: flex;
  flex: 2;
  color: var(--color-third);
  margin-right: 3rem;
}

.scriptIcon {
  padding-top: 1.7rem;
  color: var(--color-third);
}

.faREACT {
  margin-bottom: 0.5rem;
}

.scroll2 {
  transition: var(--transition);
  float: right;
  margin-right: 2rem;
}
.scroll2:hover {
  transform: scale(1.5);
}

.iconButtonStyle {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.abMeDes {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 95%;
  height: 95%;
  color: var(--color-third);
}

@media screen and (max-width: 700px) {
  .abMeIcon {
    font-size: 0.8rem;
  }

  .collegeName {
    font-size: 0.8rem;
  }
}
