:root {
  --transition: all 0.2s ease-in-out;
}
header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.headerContent {
  text-align: center;
  height: 100%;
  position: relative;
}

.greet {
  font-size: 250%;
  transition: var(--transition);
}

.greet:hover {
  transform: scale(1.1);
}

.myName {
  font-size: 400%;
  transition: var(--transition);
  color: #5b9cad;
  font-weight: bold;
}
.myName:hover {
  transform: scale(1.1);
}

.self {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.scroll1 {
  background: #116c40;
  transition: var(--transition);
  float: right;
  margin-right: 2rem;
}
.scroll1:hover {
  transform: scale(1.5);
}

.scrollButton {
  float: inline-end;
}

.divider {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .self {
    width: 7rem;
    height: 10rem;

    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .scroll {
    display: none;
  }
}
