.navBar {
  position: sticky;
  background: var(--color-secondary);
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  top: 0;
  z-index: 5;
  border-radius: 25px;
  transition: var(--transition);
}

.navBar:hover {
  background: linear-gradient(var(--color-third), var(--color-secondary));
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 30px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary-variant);
  font-family: "Mukta", sans-serif;
  font-weight: 1000;
  transition: var(--transition);
}
.innerContent {
  transition: var(--transition);
}
.innerContent:hover {
  transform: scale(1.5);
}
.styler {
  background: #d0b49f;
}

@media screen and (max-width: 1024px) {
  .content {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 700px) {
  .content {
    font-size: 1rem;
  }
}
