.titleName {
  font-size: 300%;
  text-align: center;
  height: 100%;
  color: var(--color-primary);
  margin-left: 0;
}

.projectTitle {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
}

.fileCodeIcon {
  margin-top: 0.5rem;
}

.pjTitle {
  font-size: 200%;
  text-align: left;
  height: 100%;
  position: relative;
  padding-top: 5rem;
  margin-left: 3rem;
  font-weight: bold;
}

a:link {
  color: White;
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

.pjImage {
  object-fit: cover;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  border: 10px solid var(--color-third);
}

.pjDes {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.scroll3 {
  background: #116c40;
  transition: var(--transition);
  float: right;
  margin-right: 2rem;
}
.scroll3:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1024px) {
  .pjTitle {
    font-size: 200%;
    text-align: center;
    height: 100%;
    position: relative;
    text-decoration: underline;
  }
  .pjLink {
    margin-left: 40%;
  }
}

@media screen and (max-width: 600px) {
  .pjImage {
    object-fit: cover;
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
  .pjDes {
    font-size: 1rem;
  }
}
